<% if (flash != '') { %>
    <div class="alert alert-secondary" role="alert">
        <%= flash %>
    </div>
<% } %>
<div class="row">
    <% Contact.forEach(contact => { %>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="ikon.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= contact.nama %></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= contact.noHp %></li>
                    <li class="list-group-item"><%= contact.email %></li>
                </ul>
                <div class="card-body">
                    <form method="POST" action="/delete?_method=DELETE">
                        <input type="hidden" name="nama" value="<%= contact.nama %>">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Apakah anda yakin mau menghapus?')">Hapus</button>
                    </form>
                </div>
            </div>
        </div>
    <% }) %>
    
</div>